DEBUG_MODE=false
APP_NAME=Shena Companion Welfare Association
APP_URL=https://yourdomain.epizy.com

DB_HOST=sqlXXX.epizy.com
DB_NAME=epiz_xxxxxxxx_shena_welfare_db
DB_USER=epiz_xxxxxxxx
DB_PASS=replace_with_db_password

MPESA_ENVIRONMENT=sandbox
MPESA_CONSUMER_KEY=replace_with_mpesa_consumer_key
MPESA_CONSUMER_SECRET=replace_with_mpesa_consumer_secret
MPESA_SANDBOX_PASSKEY=bfb279f9aa9bdbcf158e97dd71a467cd2e0c893059b10f78e6b72ada1ed2c919
MPESA_PRODUCTION_PASSKEY=replace_with_mpesa_production_passkey

MPESA_STK_CALLBACK_URL=https://yourdomain.epizy.com/public/mpesa-stk-callback.php
MPESA_C2B_CALLBACK_URL=https://yourdomain.epizy.com/public/mpesa-c2b-callback.php

MAIL_USERNAME=replace_with_smtp_username
MAIL_PASSWORD=replace_with_smtp_password

HOSTPINNACLE_USER_ID=replace_with_user_id
HOSTPINNACLE_API_KEY=replace_with_api_key
HOSTPINNACLE_SENDER_ID=SHENA

ENCRYPTION_KEY=replace_with_random_32_to_64_char_hex
JWT_SECRET=replace_with_random_64_to_128_char_hex

ADMIN_EMAIL=info@shenacompanion.org
ADMIN_PHONE=+254712345678