DEBUG_MODE=false
APP_NAME=Shena Companion Welfare Association
APP_URL=https://shenacompanion.co.ke

DB_HOST=localhost
DB_NAME=peepalmt_shena_welfare_db
DB_USER=peepalmt_shena_welfare
DB_PASS=^.RW^]KS*yrCm%;n

MPESA_ENVIRONMENT=production
MPESA_CONSUMER_KEY=yLkDAEnTOFKGoagG5HGWUHksSuGPY9nPeS8d0aw33tN70iEc
MPESA_CONSUMER_SECRET=JHeFGAgIKyoZZGt6e50sD5GRu4Gg2DQHlE3Y5OTLWM6j5f1oXdEIqz5o9suge0b1
MPESA_SANDBOX_PASSKEY=bfb279f9aa9bdbcf158e97dd71a467cd2e0c893059b10f78e6b72ada1ed2c919
MPESA_PRODUCTION_SHORTCODE=4163987
MPESA_PRODUCTION_PASSKEY=replace_with_mpesa_production_passkey

MPESA_STK_CALLBACK_URL=https://shenacompanion.co.ke/public/mpesa-stk-callback.php
MPESA_C2B_CALLBACK_URL=https://shenacompanion.co.ke/public/mpesa-c2b-callback.php

MAIL_USERNAME=replace_with_smtp_username
MAIL_PASSWORD=replace_with_smtp_password

HOSTPINNACLE_USER_ID=oscar
HOSTPINNACLE_API_KEY=
HOSTPINNACLE_SENDER_ID=SHENA

ENCRYPTION_KEY=replace_with_random_32_to_64_char_hex
JWT_SECRET=replace_with_random_64_to_128_char_hex

ADMIN_EMAIL=info@shenacompanion.org
ADMIN_PHONE=+254748585067